# Görev 1: Aşağıdaki Soruları Yanıtlayınız

Soru 1: miuul_gezinomi.xlsx dosyasını okutunuz ve veri seti ile ilgili genel bilgileri gösteriniz..

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
df =  pd.read_excel('miuul_gezinomi.xlsx')
df.head()

,SaleId,SaleDate,CheckInDate,Price,ConceptName,SaleCityName,CInDay,SaleCheckInDayDiff,Seasons
0,415122,2022-12-03,2022-12-03,79.304029,Herşey Dahil,Antalya,Saturday,0,Low
1,415103,2022-12-03,2022-12-03,45.970696,Yarım Pansiyon,Antalya,Saturday,0,Low
2,404034,2022-09-12,2022-09-13,77.838828,Herşey Dahil,Antalya,Tuesday,1,High
3,415094,2022-12-03,2022-12-10,222.710623,Yarım Pansiyon,İzmir,Saturday,7,Low
4,414951,2022-12-01,2022-12-03,140.476190,Yarım Pansiyon,İzmir,Saturday,2,Low

Soru 2: Kaç unique şehir vardır? Frekansları nedir?

In [2]:
df["SaleCityName"].nunique() #Kaç unique şehir olduğunu bulmak için

6

In [3]:
df.groupby("SaleCityName").size() #Frekansları bulmak için

SaleCityName
Antalya    31649
Aydın      10646
Diğer       3245
Girne        455
Muğla      10662
İzmir       2507
dtype: int64

Soru 3: Kaç unique Concept vardır?

In [4]:
df["ConceptName"].nunique()

3

Soru 4: Hangi Concept’den kaçar tane satış gerçekleşmiş?

In [5]:
df.groupby("ConceptName").size()

ConceptName
Herşey Dahil      53186
Oda + Kahvaltı     2419
Yarım Pansiyon     3559
dtype: int64

Soru 5: Şehirlere göre satışlardan toplam ne kadar kazanılmış?

In [6]:
df.groupby("SaleCityName")["Price"].apply(lambda x: np.sum(x))

SaleCityName
Antalya    2.041911e+06
Aydın      5.732960e+05
Diğer      1.545723e+05
Girne      2.706503e+04
Muğla      6.658422e+05
İzmir      1.659348e+05
Name: Price, dtype: float64

Soru 6: Concept türlerine göre göre ne kadar kazanılmış?

In [7]:
df.groupby("ConceptName")["Price"].apply(lambda x: np.sum(x))

ConceptName
Herşey Dahil      3.332911e+06
Oda + Kahvaltı    1.213084e+05
Yarım Pansiyon    1.744024e+05
Name: Price, dtype: float64

Soru 7: Şehirlere göre PRICE ortalamaları nedir?

In [8]:
df.groupby("SaleCityName")["Price"].apply(lambda x: np.mean(x))

SaleCityName
Antalya    64.521474
Aydın      53.855896
Diğer      47.707497
Girne      59.483579
Muğla      62.461746
İzmir      66.267905
Name: Price, dtype: float64

Soru 8: Conceptlere göre PRICE ortalamaları nedir?

In [9]:
df.groupby("ConceptName")["Price"].apply(lambda x: np.mean(x))

ConceptName
Herşey Dahil      62.672260
Oda + Kahvaltı    50.252010
Yarım Pansiyon    49.030742
Name: Price, dtype: float64

Soru 9: Şehir-Concept kırılımında PRICE ortalamaları nedir?

In [10]:
df.groupby(["SaleCityName","ConceptName"]).agg({"Price":"mean"})

                                 Price
SaleCityName ConceptName
Antalya      Herşey Dahil    64.519028
             Oda + Kahvaltı  63.504816
             Yarım Pansiyon  67.190613
Aydın        Herşey Dahil    53.995467
             Oda + Kahvaltı  34.458787
             Yarım Pansiyon  30.016543
Diğer        Herşey Dahil    84.771093
             Oda + Kahvaltı  37.599082
             Yarım Pansiyon  42.113440
Girne        Herşey Dahil    97.680970
             Oda + Kahvaltı  39.775536
             Yarım Pansiyon  53.247838
Muğla        Herşey Dahil    63.020053
             Oda + Kahvaltı  59.037763
             Yarım Pansiyon  45.120924
İzmir        Herşey Dahil    74.701519
             Oda + Kahvaltı  41.320342
             Yarım Pansiyon  59.610053

# Görev 2: SaleCheckInDayDiff değişkenini kategorik bir değişkene çeviriniz.

•	SaleCheckInDayDiff değişkeni müşterinin CheckIn tarihinden ne kadar önce satin alımını tamamladığını gösterir.

•	Aralıkları ikna edici şekilde oluşturunuz.
Örneğin: ‘0_7’, ‘7_30', ‘30_90', ‘90_max’ aralıklarını kullanabilirsiniz.

•	Bu aralıklar için "Last Minuters", "Potential Planners", "Planners", "Early Bookers“ isimlerini kullanabilirsiniz.

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59164 entries, 0 to 59163
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   SaleId              59164 non-null  int64
 1   SaleDate            59164 non-null  datetime64[ns]
 2   CheckInDate         59164 non-null  datetime64[ns]
 3   Price               59151 non-null  float64
 4   ConceptName         59164 non-null  object
 5   SaleCityName        59164 non-null  object
 6   CInDay              59164 non-null  object
 7   SaleCheckInDayDiff  59164 non-null  int64
 8   Seasons             59164 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(2), object(4)
memory usage: 4.1+ MB

In [15]:
for i in df["SaleCheckInDayDiff"]:
    if  i < 7:
        df["SaleCheckInDay"] = "Last Minuters"
    elif 7 <= i < 30:
        df["SaleCheckInDay"] = "Potential Planners"
    elif 30 <= i < 90:
        df["SaleCheckInDay"] = "Planners"
    elif 90 <= i :
        df["SaleCheckInDay"] = "Early Bookers"

In [16]:
df

,SaleId,SaleDate,CheckInDate,Price,ConceptName,SaleCityName,CInDay,SaleCheckInDayDiff,Seasons,SaleCheckInDay
0,415122,2022-12-03,2022-12-03,79.304029,Herşey Dahil,Antalya,Saturday,0,Low,Early Bookers
1,415103,2022-12-03,2022-12-03,45.970696,Yarım Pansiyon,Antalya,Saturday,0,Low,Early Bookers
2,404034,2022-09-12,2022-09-13,77.838828,Herşey Dahil,Antalya,Tuesday,1,High,Early Bookers
3,415094,2022-12-03,2022-12-10,222.710623,Yarım Pansiyon,İzmir,Saturday,7,Low,Early Bookers
4,414951,2022-12-01,2022-12-03,140.476190,Yarım Pansiyon,İzmir,Saturday,2,Low,Early Bookers
...,...,...,...,...,...,...,...,...,...,...
59159,51817,2016-01-05,2016-10-10,54.304636,Herşey Dahil,Antalya,Monday,279,Low,Early Bookers
59160,51816,2016-01-05,2016-10-10,54.304636,Herşey Dahil,Antalya,Monday,279,Low,Early Bookers
59161,51814,2016-01-05,2016-01-06,40.562914,Herşey Dahil,Diğer,Wednesday,1,Low,Early Bookers
59162,51736,2016-01-04,2016-01-05,69.847682,Yarım Pansiyon,Diğer,Tuesday,1,Low,Early Bookers
59163,51731,2016-01-04,2016-08-22,158.940397,Herşey Dahil,Antalya,Monday,231,High,Early Bookers